@model Entities.Concrete.Writer
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yazar Güncelleme</h2>
<br />
@using (Html.BeginForm("Update", "Writer", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Yazar ID")
    @Html.TextBoxFor(w => w.WriterId, new { @class = "form-control" })
    <br />

    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(w => w.FirstName, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(w => w.LastName, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(w => w.Email, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(w => w.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Fotoğraf Linki")
    @Html.TextBoxFor(w => w.Image, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Unvan")
    @Html.TextBoxFor(w => w.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(w => w.WriterAbout, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</div>
}

